@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #7A7A73;
}

.wrapper {
    width: 100%;
}

.navbar {
    width: 100%;
    background-color: #57564F;
    color: white;
    font-weight: 600;
    padding: 10px;
    display: flex;

}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 10px 0;
    display: block;
    padding: 8px;
    border-radius: 5px;
}

.navbar a:hover {
    background-color: #34495e;
}

/* Home */
.container {
    width: 100%;
    height: calc(100dvh - 77px);
    padding: 20px;
}

.instruction {
    background: #DDDAD0;
    border-left: 6px solid #f4b400;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    margin-top: 20px;
}

.instruction h3 {
    color: #b26a00;
    font-weight: bold;
    margin-bottom: 15px;
}

.instruction ul {
    list-style-type: none;
    padding-left: 0;
}

.instruction ul li {
    padding-left: 28px;
    position: relative;
    margin-bottom: 10px;
    line-height: 1.5;
    color: #444;
    font-family: "Work Sans", sans-serif;
}

/* Add New Course */

.form-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.form {
    width: 30%;
    padding: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-direction: column;
    background-color: oldlace;
    border-radius: 10px;
    box-shadow: 5px 5px 8px rgb(36, 34, 34);
}

.form input,
textarea,
select,
button {
    padding: 10px;
    border: none;
    outline: none;
}

/* Courses */

.course-container {
    height: calc(100dvh - 77px);
    overflow-y: scroll;
    scrollbar-width: none;
    padding: 0px 30px;
}

.course {
    width: 100%;
    border: 1px solid black;
    background-color: #444;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.course a {
    text-decoration: none;
    background-color: rgb(72, 72, 216);
    color: white;
    font-weight: 600;
    padding: 3px 10px;
}

.uploaded-class {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
}

.upload-class-form {
    width: 100%;
    padding: 20px;
    gap: 10px;
    justify-content: center;
    /* background-color: rgb(67, 66, 63); */
    /* border-radius: 10px;
    box-shadow: 5px 5px 8px rgb(36, 34, 34); */
}

.upload-class-form select{
    width: 20%;
}

.upload-class-form input{
    width: 20%;
    padding: 10px;
    border: none;
    outline: none;
}